@charset "utf-8";

*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
ul,
ol {
  list-style: none;
}
a {
  color: inherit;
  text-decoration: none;
}
body {
  font-family: "RocknRoll One", sans-serif;
  color: #131d31;
  line-height: 1;
  background-color: #fff;
}
img {
  max-width: 100%;
}
.header {
  background-color: #ec9be2;
}
.header-inner {
  max-width: 1200px;
  height: 110px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 40px;
  padding-right: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-logo {
  display: block;
  width: 170px;
}
.site-menu ul {
  display: flex;
}
.site-menu ul li {
  margin-left: 20px;
  margin-right: 20px;
}
.first-view {
  height: calc(100vh - 110px);
  background-image: url(../chobico.img/main.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  /* width: 100%; */
}

/* ここからABOUT */
.about-text {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 930px;
  max-width: 90%;
  margin-top: 100px;
  margin-left: 500px;
  margin-right: auto;
}

.about img {
  width: 360px;
  margin-bottom: 50px;
  margin-left: 100px;
}

.about-text {
  max-width: 500px;
margin-right: 40px;
}

.reverse {
  flex-direction: row-reverse;
}



/* .about {
  display: flex;
  justify-content: space-between;
  width: 930px;
  max-width: 90%;
  margin-top: 75px;
  margin-left: auto;
  margin-right: auto;
  align-items: flex-start;
}
  .about img {
    width: 360px;
}
.about-text {
  flex-direction: row-reverse;
} */


  /* ここからコンタクト */
  

.form-area {
  background-color: #bbe1f7;
  border: 1px solid #131d31;
  margin-top: 25px;
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
}
.form-area dt {
  width: 200px;
}

.contact {
  width: 500px;
}
.form-area dd {
  width: calc(100% - 200px);
}
.form-area dt {
  width: 200px;
  padding: 15px 0;
  font-size: 15px;
  font-weight: bold;
  line-height: 24px;
}
.form-area dt .required::after {
  content: '必須';
  font-size: 11px;
  color: #c90949;
  margin-left: 10px;
}
.form-area dd {
  width: calc(100% - 200px);
  padding: 15px;
}
.input-text {
  width: 80%;
  min-width: 150px;
  height: 30px;
  padding-left: 10px;
  padding-right: 10px;
}
.message {
  width: 100%;
  height: 260px;
  padding: 10px;
  line-height: 1.5;
}
.confirm-text {
  font-size: 14px;
  line-height: 22px;
  margin-top: 30px;
}
.submit-button {
  background-color: #d45ecb;
  display: inline-block;
  min-width: 180px;
  line-height: 48px;
  border-radius: 24px;
  font-size: 14px;
  font-family: "RocknRoll One", sans-serif;
  text-align: center;
  margin-top: 20px;
  cursor: pointer;
  border: none;
}
.submit-button:hover {
  background-color: #4bd84b;
}
.copyright {
  display: flex;
  text-align: center;
}

